interactions:
- request:
    body: '{"request": [{"policy_type": "event_ticket_protection", "policy_type_version":
      1, "policy_start_date": "2021-09-24T19:52:27Z", "event_datetime": "2021-10-23T18:13:44Z",
      "event_name": "Ariana Grande", "event_location": "The O2", "number_of_tickets":
      2, "tickets": [{"price": 100}], "resale_ticket": false, "event_country": "GB"}],
      "currency": "GBP", "customer_country": "GB", "customer_region": "London", "customer_language":
      "en", "policy_version": "unknown"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.xcover.com/xcover/partners/LLODT/quotes/
  response:
    body:
      string: '{"type":"validation_error","message":"An API error occurred.","errors":{"policy_version":"Unexpected
        field"}}'
    headers:
      Allow:
      - GET, POST, DELETE, OPTIONS
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '-1'
      X-Ratelimit-Remaining:
      - '-1'
      X-Ratelimit-Reset:
      - '1568836675'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
