interactions:
- request:
    body: '{"request": [{"policy_type": "event_ticket_protection", "policy_type_version":
      1, "policy_start_date": "2023-05-01T12:16:02Z", "event_datetime": "2023-05-05T06:20:41Z",
      "event_name": "Ariana Grande", "event_location": "The O2", "number_of_tickets":
      2, "tickets": [{"price": 100}], "resale_ticket": false, "event_country": "GB"}],
      "currency": "GBP", "policyholder": {"first_name": "Emily", "last_name": "Sharp",
      "age": 30, "email": "emily.sharp@test-xcover.com", "country": "GB", "region":
      null, "company": "Graves LLC"}}'
    headers:
      Content-Type:
      - application/json
      x-idempotency-key:
      - b4770b89-e6e3-4934-8c57-b39bdbb81e78
    method: POST
    uri: https://staging.api.xcover.com/xcover/partners/LLODT/instant_booking/
  response:
    body:
      string: '{}'
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 502
      message: Bad Gateway
[...]
